.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

}

.wrapper_blue {
    background-color: #EDF7FA;
}

.content_container {
    max-width: 858px;
    margin: 0 auto;
}


.header {
    max-width: 1032px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    font-family: "heebo_bold", sans-serif;
    font-size: 20px;
    flex-wrap: wrap;
}

.menu__item {
    padding: 33px 0 33px 36px;
    text-decoration: none;
}
.menu__item:hover {
    color: #FF6464;
}
.menu_active {
    color: #FF6464;
}

.menu-burger__items {
    display: none;
}


.menu-burger {
    display: none;
}
.footer__content {
    display: flex;
    flex-direction: column;
    padding-top: 15%;


}

.footer__logos {
    justify-content: center;
    display: flex;

}

.logos__item {
    padding-left: 35px;
}

._first {
    padding-left: 0;
}

.footer__copyright {
    text-align: center;
    font-family: "heebo_regular", sans-serif;
    font-size: 14px;
    padding-top: 5%;
}

.work__title {
    font-family: "heebo_bold",sans-serif;
    font-size: 44px;
}

.opacity_text {
    color: #8695A4;
}
.main-part__works {
    padding-bottom: 3%;
    border-bottom: 1px solid #E0E0E0;
}
.main-part__works_more {
    padding-bottom: 3%;
    border-bottom: 1px solid #E0E0E0;
}
.works__example {
    display: flex;
    padding-top: 5%;

}

.example__photo {

}

.example__content {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

.example__title {
    font-family: "heebo_bold", sans-serif;
    font-size: 30px;
    padding-bottom: 2%;

}

.example__date {
    display: flex;
    align-items: center;
    padding: 2% 0 2% 0;
    font-family: "heebo_regular", sans-serif;
    font-size: 20px;
    color: #8695A4;

}

.example__circle {
    box-sizing: border-box;
    display: flex;
    background-color: #142850;
    border-radius: 16px;
    width: 10.5%;
    height: 100%;
    justify-content: center;
}

.circle__content {
    font-family: "heebo_black", sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 5%;

}

.example__date p {
    padding-left: 4%;
}

.example__text {
    padding-top: 2%;
    font-family: "heebo_regular", sans-serif;
    font-size: 16px;
    line-height: 23.5px;
}

.example__line {

}
@media (max-width: 500px) {

    ._header {
        max-width: 375px;

    }

    .content_container {
        max-width: 375px;
        text-align: center;
    }

    .menu {
        width: 100%;
        display: none;
    }

    .menu-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-top: 5%;
        margin-right: 5%;
    }

    .menu-burger span {
        position: absolute;
        background-color: black;
        width: 30px;
        height: 2px;
        top: 9px
    }

    .menu-burger:after,
    .menu-burger:before {
        content: '';
        background-color: black;
        position: absolute;
        width: 30px;
        height: 2px;
    }

    .menu-burger:after {
        top: 0;
    }

    .menu-burger:before {
        bottom: 0;
    }
    .menu-burger.active span {
        transform: scale(0);
    }
    .menu-burger.active:before {
        transform:rotate(45deg);
        bottom: 10px;
    }
    .menu-burger.active:after {
        transform: rotate(-45deg);
        top: 8px;
    }

    .menu-burger__items {
        display: none;
        position: absolute;
        flex-direction: column;
        margin-right: 5%;
        font-family: "heebo_bold", sans-serif;
        font-size: 20px;
        right: 8%;
        height: 700px;

    }

    .menu-burger__items.active {
        display: flex;
    }

    .menu-burger__item {
        margin-top: 20px;
        text-decoration: none;
    }
    .menu-burger__item:hover {
        color: #FF6464;
    }

    .work__content {

        padding: 10% 2% 0 2%;

    }
    .work__title {
        text-align: left;
    }

    .footer__content {
        padding-top: 30%;
    }

    .footer__copyright {
        padding-top: 10%;
    }
    .blog__content {
        margin-top: 10%;
        padding: 4% 4% 4% 4%;
    }

    .blog__title {
        text-align: left;
    }
    .blog__recent {
        text-align: left;
    }
    .works__example {
        flex-wrap: wrap;
        justify-content: center;
    }
    .example__content {
       text-align: left;
    }
    .example__circle {
        width: 17%;
    }
    .inactive {
        display: none;
    }
    .example__photo {
        width: 100%;
        padding: 2%;
    }
    .photo-width {
        width: 100%;
    }
}
